<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Predict Dog Breed</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">      
</head>
<body>
  <header class="header">
    <a class="logo" href=".page-top">AS Production</a>
    <img class="img-logo-top" src="../static/images/76e45e021eec31ad3a1bebf36c26986b.svg" alt="logo" loading="lazy">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="#one" class="link link-theme link-arrow">Home</a></li>
      <li><a href="#two" class="link link-theme link-arrow">Project</a></li>
      <li><a href="#three" class="link link-theme link-arrow">About Me</a></li>
      <li><a href="#four" class="link link-theme link-arrow">Contact</a></li>
    </ul>
  </header>
    <!-- <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">AS Production</a>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Home</button>
        </div>
    </nav> -->
    <div class="container">
        <div id="content" style="margin-top:2em">{% block content %}{% endblock %}</div>
    </div>
</body>
  <style>
    body{
      background-color:#212121;
      color:white
    }
  </style>


</html>